<div style="margin-right: auto; margin-left: auto; width: 95%;">
    <h1>Contact</h1>
    <p >El cuadro a continuación te permitirá dejar un mensaje el cual llegará directamente a nuestro correo. Se supone que este párrafo debe ser largo como para tener más lineas pero realmente a nadie le interesa lo que dice acá. Debes ingresar tu correo para que podamos contactarte de vuelta y resolver tus dudas...</p>
</div>
    <form style="background-color: rgb(235, 232, 232); height: 300px; width: 70%; margin-right: auto; margin-left: auto; border-color: lightslategrey; border-radius: 10px;" >
        <div class="form-group" style="padding-top: 20px;">
          <label for="exampleFormControlInput1" style="margin-left: 10px;"><strong>Email address</strong></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escribe tu mail Aquí" style="width: 75%; float:right; margin-right: 10px;">
        </div>

        
<div class="form-group" style="padding-top: 20px;">
<label for="exampleFormControlTextarea1"; style= "margin-left: 10px; height: 100%;" ><strong>Message</strong></label>
<textarea class="form-control" placeholder="Escribe tu mensaje Aquí" id="exampleFormControlTextarea1" rows="5" style="width: 75%; float:right; margin-right: 10px;"></textarea>
</div>
<div>
<input class="btn btn-primary" type="submit" value="Submit" style="float:right; overflow: hidden; width: 20%; margin-top: 10px; margin-right: 10px; margin-left: 70%;" >
</div></div>
</form>