<!-- your html code here -->
<ul class= "navbar navbar-expand bg-dark">
    <li class= "nav-items">
        <a class="nav-link active bg-dark text-white" href="!#">Start Bootstrap</a> 
    </li>
    <li class= "nav-items">
        <a class="nav-link active bg-dark text-white" href="!#">About</a>
    </li>
    <li class= "nav-items">
        <a class="nav-link active bg-dark text-white" href="!#">Services</a>
    </li>
    <li class= "nav-items">
        <a class="nav-link active bg-dark text-white" href="!#">Portfolio</a>
    </li>
    <li class= "nav-items">
        <a class="nav-link active bg-dark text-white" href="!#">Contact</a>
    </li>
</ul>   