<!-- your html code here -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="header-content-left">
                <img src="./assets/img/2.jpg" class="rounded-circle" style="width:60%;">
                
           </div> 
        </div>
        <div class="col-md-6">
            <div class="header-content-right">
                <h1>The Second Heading is Pretty Cool Too</h1>
                <p>Nam ac est ac urna imperdiet rhoncus. Vestibulum accumsan vel nisi sed finibus. Morbi porta dui at malesuada mattis. Ut tristique tortor eu mattis rutrum. Aliquam viverra urna et massa luctus, eu cursus elit faucibus. Maecenas sed purus eros. Integer leo sapien, blandit at orci imperdiet, sodales pharetra dui.</p> 
                
            </div>
        </div>
    </div>
</div>
